<div class="view" ng-init="init()">

  <div class="pull-right">
    <a href="" class="btn btn-primary"
       data-ng-click="openLancamento()">Adicionar Lançamento
    </a>
  </div>
    <h1>Lançamentos</h1>
    <hr>
    <div class="list-group">
      <a data-ng-repeat="lancamento in lancamentos" href="" ng-click="openLancamento(lancamento)" class="list-group-item">
        <strong>Valor: {{lancamento.valor}}</strong>
        <strong>Pessoa: {{lancamento.pessoa.nome}}</strong>
        <strong>Encaminhamento: {{lancamento.encaminhamento.vaga.cargo.descricao}}</strong>
        <strong>Descricao: {{lancamento.descricao}}</strong>
        <!-- (<small>De</small> {{lancamento.dataInicio|date:'dd/MM/yyyy'}} <small>até</small> {{lancamento.dataTermino|date:'dd/MM/yyyy'}}
           <span class="label label-warning"
                   data-ng-show="!lancamento.dataTermino">atuando</span>) -->
        <!-- <ul>
          <li data-ng-if="lancamento.vinculoEmpregaticio">
            <strong>Vínculo:&nbsp</strong>
            {{lancamento.vinculoEmpregaticio}}
          </li>
          <li data-ng-if="lancamento.cargo.descricao">
            <strong>Descrição do cargo:&nbsp</strong>
            {{lancamento.cargo.descricao}}
          </li>
          <li data-ng-show="lancamento.empresa">
            <strong>Empresa:&nbsp</strong>
            {{lancamento.empresa.nome}}
          </li>
          <li data-ng-show="lancamento.atividades">
            <strong>Atividades Desenvolvidas:&nbsp</strong>
            {{lancamento.atividades}}
          </li>
          <li data-ng-show="lancamento.observacoes">
            <strong>Observações:&nbsp</strong>
            {{lancamento.observacoes}}
          </li>
        </ul> -->
      </a>
    </div>

</div>