<div class="view" ng-init="init()">

  <div class="pull-right">
    <a href="" class="btn btn-primary"
       data-ng-click="openLancamento()">Adicionar Lançamento
    </a>
  </div>
    <h1>Lançamentos</h1>
    <hr>
    <div class="list-group">
      <a data-ng-repeat="lancamento in lancamentos" href="" ng-click="openLancamento(lancamento)" class="list-group-item">
        <div>
          <strong>Código: </strong><small>{{lancamento.id}},</small>
          <strong>Data de cadastro: </strong><small>{{lancamento.dataDeCadastro|date:'dd/MM/yyyy'}},</small>
          <strong>Data de vencimento: </strong><small>{{lancamento.dataDeVencimento|date:'dd/MM/yyyy'}}</small>
          <strong ng-if="lancamento.dataDePagamento">, Data de pagamento: </strong><small ng-if="lancamento.dataDePagamento">{{lancamento.dataDePagamento|date:'dd/MM/yyyy'}}</small>
        </div>
        <div class="pull-right">
          <span class="label" ng-class="class(lancamento)" data-ng-if="lancamento.tipoLancamento==='ENTRADA'">+ {{lancamento.valor | currency:"RS$ "}}</span>
          <span class="label" ng-class="class(lancamento)" data-ng-if="lancamento.tipoLancamento==='SAIDA'">- {{lancamento.valor | currency:"RS$ "}}</span>
        </div>
        <div>
          <strong>Usuario: </strong><small>{{lancamento.usuario.login}},</small>
          <strong ng-if="lancamento.pessoa.id">Pessoa: </strong><small>{{lancamento.pessoa.nome}},</small>
          <strong>Descricao: </strong><small>{{lancamento.descricao}}</small>
        </div>
        <!-- (<small>De</small> {{lancamento.dataInicio|date:'dd/MM/yyyy'}} <small>até</small> {{lancamento.dataTermino|date:'dd/MM/yyyy'}}
           <span class="label label-warning"
                   data-ng-show="!lancamento.dataTermino">atuando</span>) -->
        <!-- <ul>
          <li data-ng-if="lancamento.vinculoEmpregaticio">
            <strong>Vínculo:&nbsp</strong>  
            {{lancamento.vinculoEmpregaticio}}
          </li>
          <li data-ng-if="lancamento.cargo.descricao">
            <strong>Descrição do cargo:&nbsp</strong>
            {{lancamento.cargo.descricao}}
          </li>
          <li data-ng-show="lancamento.empresa">
            <strong>Empresa:&nbsp</strong>
            {{lancamento.empresa.nome}}
          </li>
          <li data-ng-show="lancamento.atividades">
            <strong>Atividades Desenvolvidas:&nbsp</strong>
            {{lancamento.atividades}}
          </li>
          <li data-ng-show="lancamento.observacoes">
            <strong>Observações:&nbsp</strong>
            {{lancamento.observacoes}}
          </li>
        </ul> -->
      </a>
    </div>

</div>