<div class="view" data-ng-controller="EmpresaLancamento">


	<div class="page-header">
		<h1>Lançamentos</h1>
	</div>
		<div class="container-fluid">
			<p class="navbar-right">
				<input type="checkbox" data-ng-model="isOpen" > Exibir somente um painel por vêz
				<button class="btn btn-primary btn-sm" type="button" onclick="window.print(); return false;" title="Clique para Imprimir ou pressione as teclas 'Ctrl + P'"><span class="glyphicon glyphicon-print"></span></button>
				<button class="btn btn-default btn-sm" data-ng-click="panel.open1 = false; panel.open2 = false; panel.open3 = false; panel.open4 = true" title="Clique para fechar todos os paineis"><span class="glyphicon glyphicon-minus"></span></button>
				<button class="btn btn-default btn-sm" data-ng-click="isOpen = false; panel.open1 = true; panel.open2 = true; panel.open3 = true; panel.open4 = true" title="Clique para abrir todos os paineis"><span class="glyphicon glyphicon-plus"></span></button>
			</p>
		</div>

	<accordion close-others="isOpen">
	<accordion-group is-open="panel.open1" > 
		<accordion-heading>
			Dados do encaminhamento <i class="pull-right glyphicon" data-ng-class="{'glyphicon-chevron-down': panel.open1, 'glyphicon-chevron-right': !panel.open1}"></i>
		</accordion-heading>
	<div class="row row-offcanvas row-offcanvas-right">
		<div class="col-xs-12 col-sm-12">
			<div class="col-6 col-sm-6 col-lg-3">
				<div class="form-group has-success">
					<label class="control-label">Cargo</label> <a href="#lei3298"
						data-toggle="modal" data-target="#lei3298">Cadastrar novo (a)</a>
					<div class="controls">
						<select class="form-control">

						</select>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">Empresa</label> <a href="#lei3298"
						data-toggle="modal" data-target="#lei3298">Cadastrar novo (a)</a>
					<div class="controls">
						<select class="form-control">
							<option>Casado (a)</option>
							<option>Solteiro (a)</option>
							<option>Amasiado (a)</option>
						</select>
					</div>
				</div>
			</div>

			<div class="col-6 col-sm-6 col-lg-3">
				<div class="form-group">
					<label class="control-label">Responsável</label>
					<div class="controls">
						<input type="text"
							placeholder="Insira o nome do responsável (a) ..."
							class="form-control">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">Contato </label>
					<div class="controls">
						<input type="text"
							placeholder="Insira o contato do responsável (a) ..."
							class="form-control">
					</div>
				</div>
			</div>
			<div class="col-6 col-sm-6 col-lg-3">
				<div class="form-group">
					<label class="control-label">Observações</label>
					<div class="controls">
						<textarea class="form-control" rows="5"
							placeholder="Insira aqui as observações da vaga"></textarea>
					</div>
				</div>
			</div>
<!-- 			<div class="col-6 col-sm-6 col-lg-3"> -->
<!-- 				<div class="form-group has-success"> -->
<!-- 					<label class="control-label">Encaminhamentos</label> -->
<!-- 					<div class="controls"> -->
<!-- 						<select class="form-control"> -->
<!-- 						</select> -->
<!-- 					</div> -->
<!-- 				</div> -->
<!-- 				<div class="form-group"> -->
<!-- 					<label class="control-label">Situação</label> <a href="#lei3298" -->
<!-- 							data-toggle="modal" data-target="#lei3298">Ver candidato</a> -->
<!-- 					<div class="controls"> -->
<!-- 						<select class="form-control disable"> -->
<!-- 						<option>Ocupada pelo candidato tal</option> -->
<!-- 						</select> -->
<!-- 					</div> -->
<!-- 				</div> -->
<!-- 			</div> -->
			

		</div>
	</div>
	</accordion-group> 
	</accordion>

	<!-- Menu da consultar -->

	<div class="col-xs-12 col-sm-12">
		<div class="btn-group btn-group-justified">
			<div class="btn-group">
				<button type="button" class="btn btn-default" data-ng-click="getLancamento()">Consultar</button>
			</div>
			<div class="btn-group">
				<button type="button" class="btn btn-primary" data-ng-click="postLancamento()">Salvar</button>
			</div>
			<div class="btn-group">
				<button type="button" class="btn btn-default" data-ng-click="limpar()">Limpar</button>
			</div>
		</div>
		
		<br/>
		<div data-ng-show="msg.msg" class="alert alert-{{msg.type}} alert-dismissable fixed">
  			<button type="button" class="close"  data-ng-click="closeAlert()">&times;</button>
  			<strong>{{msg.vaga.nome}}</strong> {{msg.msg}}		
		</div>
		<div  data-ng-show="msg.progress" class="progress progress-striped active">
		  <div class="progress-bar"  data-role="progressbar" data-aria-valuenow="45" data-aria-valuemin="0" data-aria-valuemax="100" style="width: 100%">
		    <span class="sr-only">45% Complete</span>
		  </div>
		</div>
		
		<table class="table table-hover">
			<tr>
				<th>Nome</th>
				<th>Sexo</th>
				<th>Data de nascimento</th>
				<th>Estado civil</th>
				<th>PNE</th>
				<th>Endereço</th>
				<th>Situação</th>
				<th></th>
			</tr>
			<tr ng-repeat="candidato in candidatos">
				<td>{{candidato.nome}}</td>
				<td>{{candidato.sexo}}</td>
				<td>{{candidato.dataDeNascmiento}}</td>
				<td>{{candidato.estadoCivil}}</td>
				<td>{{candidato.PNE}}</td>
				<td>{{candidato.endereco}}</td>
				<td>{{candidato.situacao}}</td>
				<td><!-- 					<a data-ng-click="editCargo(cargo)">  -->
<!-- 					<button class="btn btn-primary btn-sm" type="button" onclick="window.print(); return false;" title="Clique para Imprimir ou pressione as teclas 'Ctrl + P'"><span class="glyphicon glyphicon-print"></span></button> -->
						<span class="glyphicon glyphicon-print"></span>
<!-- 					</a>  -->
<!-- 					<a data-ng-click="deleteCargo(cargo.id)"> -->
<!-- 					<button class="btn btn-primary btn-sm" type="button" onclick="window.print(); return false;" title="Clique para Imprimir ou pressione as teclas 'Ctrl + P'"><span class="glyphicon glyphicon-trash"></span></button> -->
						<span class="glyphicon glyphicon-trash"></span>
<!-- 					</a> -->
				</td>
			</tr>
		</table>
	</div>








</div>