<accordion-group is-open="panel.open4">

    <accordion-heading >
        Endereço <i class="pull-right glyphicon" data-ng-class="{'glyphicon-chevron-down': panel.open4, 'glyphicon-chevron-right': !panel.open4}"></i>
    </accordion-heading>

        <div class="col-xs-10 col-6 col-sm-6 col-lg-6">
          <div class="form-group">
            <label class="control-label">Rua</label>
            <div class="controls">
              <input  type="text"
                      data-ng-model="rua"
                      placeholder="Insira o nome da rua ..."
                      class="form-control">
            </div>
          </div>
        </div>

        <div class="col-xs-2 col-6 col-sm-6 col-lg-1">
          <div class="form-group">
            <label class="control-label">Número</label>
            <div class="controls">
              <input  type="text"
                      data-ng-model="numero"
                      placeholder="Insira o núemro na rua ..."
                      class="form-control">
            </div>
          </div>
        </div>

        <div class="col-xs-3 col-6 col-sm-6 col-lg-2">
          <div class="form-group">
            <label class="control-label">CEP</label>
            <div class="controls">
              <input  type="text"
                      data-ng-model="cep"
                      placeholder="Insira o CEP ..."
                      class="form-control">
            </div>
          </div>
        </div>

        <div class="col-xs-9 col-6 col-sm-6 col-lg-3">
          <div class="form-group">
            <label class="control-label">Complemento</label>
            <div class="controls">
              <input  type="text"
                      data-ng-model="complemento"
                      placeholder="Insira o complemento do endereço ..."
                      class="form-control">
            </div>
          </div>
        </div>

        <div class="col-xs-6 col-6 col-sm-6 col-lg-3" >
          <label class="control-label">País</label>
          <div class="pull-right">
            <a class="glyphicon glyphicon-plus" data-ng-click="openPais(pais)"></a>
          </div>
          <select class="form-control" data-ng-model="pais" 
                  ng-change="getEstados(pais.id); estado=null"
                  data-ng-options="(pais.nome) for pais in paises">
            <option value="" disabled data-ng-selected="pais.id">
                  {{pais.nome}}
            </option>
          </select>
        </div>

        <div class="col-xs-6 col-6 col-sm-6 col-lg-3" >
          <label class="control-label">Estado</label>
          <div class="pull-right">
            <a ng-if="pais.id" class="glyphicon glyphicon-plus" data-ng-click="openEstado(pais, estado)"></a>
          </div>
          <select ng-disabled="!pais.id" class="form-control" 
                  data-ng-model="estado"
                  ng-change="getCidades(estado.id);cidade=null" 
                  data-ng-options="(estado.nome) for estado in estados">
            <option value="" disabled data-ng-selected="estado.id">
                  {{estado.nome}}
            </option>
          </select>
        </div>

        <div class="col-xs-6 col-6 col-sm-6 col-lg-3" >
          <label class="control-label">Cidade</label>
          <div class="pull-right">
            <a ng-if="estado.id" class="glyphicon glyphicon-plus" data-ng-click="openCidades(estado,cidade)"></a>
          </div>
          <select ng-disabled="!estado.id" class="form-control" 
                  data-ng-model="cidade" ng-change="getBairros(cidade.id)" 
                  data-ng-options="(cidade.nome) for cidade in cidades">
            <option value="" disabled data-ng-selected="cidade.id">
                  {{cidade.nome}}
            </option>
          </select>
        </div>

        <div class="col-xs-6 col-6 col-sm-6 col-lg-3" >
          <label class="control-label">Bairro</label>
          <div class="pull-right">
            <a ng-if="cidade.id" class="glyphicon glyphicon-plus" data-ng-click="openBairros()"></a>
          </div>
          <select ng-disabled="!cidade.id" 
                  class="form-control" data-ng-model="bairro"
                  data-ng-options="(bairro.nome) for bairro in bairros">
            <option ng-value="bairro" disabled data-ng-selected="bairro.id">
                  {{bairro.nome}}
            </option>
            <option value="">
                  Nenhum ..
            </option>
          </select>
        </div>

</accordion-group>