<accordion-group is-open="panel.open6">

    <accordion-heading >
        Endereço <i class="pull-right glyphicon" data-ng-class="{'glyphicon-chevron-down': panel.open6, 'glyphicon-chevron-right': !panel.open6}"></i>
    </accordion-heading>

    <div class="row row-offcanvas row-offcanvas-right">
        <div class="col-xs-12 col-sm-12">
            <div class="col-xs-10 col-6 col-sm-6 col-lg-6">
                <div class="form-group">
                    <label class="control-label">Rua</label>
                    <div class="controls">
                        <input 	type="text"
                                  data-ng-model="candidato.endereco.rua"
                                  placeholder="Insira o a rua da candidato ..."
                                  class="form-control">
                    </div>
                </div>
            </div>
            <div class="col-xs-2 col-6 col-sm-6 col-lg-1">
                <div class="form-group">
                    <label class="control-label">Número</label>
                    <div class="controls">
                        <input 	type="text"
                                  data-ng-model="candidato.endereco.numero"
                                  placeholder="Insira o núemro da rua da candidato ..."
                                  class="form-control">
                    </div>
                </div>
            </div>
            <div class="col-xs-3 col-6 col-sm-6 col-lg-2">
                <div class="form-group">
                    <label class="control-label">CEP</label>
                    <div class="controls">
                        <input 	type="text"
                                  data-ng-model="candidato.endereco.cep"
                                  placeholder="Insira o CEP da candidato ..."
                                  class="form-control">
                    </div>
                </div>
            </div>
            <div class="col-xs-9 col-6 col-sm-6 col-lg-3">
                <div class="form-group">
                    <label class="control-label">Complemento</label>
                    <div class="controls">
                        <input 	type="text"
                                  data-ng-model="candidato.endereco.complemento"
                                  placeholder="Insira o complemento do endereço da candidato ..."
                                  class="form-control">
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-6 col-sm-6 col-lg-3" >
                <label class="control-label">País</label>
                <a class="glyphicon glyphicon-refresh" data-ng-click="getPais()"></a>
                <a class="glyphicon glyphicon-plus" data-ng-click="openPais('lg')"></a>
                <select class="form-control"
                        data-ng-model="candidato.endereco.bairro.cidade.estado.pais" >
                    <option value="" data-ng-selected="candidato.id">{{candidato.endereco.bairro.cidade.estado.pais.nome}}
                    </option>
                </select>
            </div>
            <div class="col-xs-6 col-6 col-sm-6 col-lg-3" >
                <label class="control-label">Estado</label>
                <a class="glyphicon glyphicon-refresh" data-ng-click="getEstado()"></a>
                <a class="glyphicon glyphicon-plus" data-ng-click="openEstado('lg')"></a>
                <select class="form-control"
                        data-ng-model="candidato.endereco.bairro.cidade.estado">
                    <option value="" data-ng-selected="candidato.id">
                        {{candidato.endereco.bairro.cidade.estado.nome}}
                    </option>
                </select>
            </div>
            <div class="col-xs-6 col-6 col-sm-6 col-lg-3" >
                <label class="control-label">Cidade</label>
                <a class="glyphicon glyphicon-refresh" data-ng-click="getCidade()"></a>
                <a class="glyphicon glyphicon-plus" data-ng-click="openCidade('lg')"></a>
                <select class="form-control" data-ng-model="candidato.endereco.bairro.cidade" >
                    <option value="" data-ng-selected="candidato.id">
                        {{candidato.endereco.bairro.cidade.nome}}
                    </option>
                </select>
            </div>
            <div class="col-xs-6 col-6 col-sm-6 col-lg-3" >
                <label class="control-label">Bairro</label>
                <a class="glyphicon glyphicon-refresh" data-ng-click="getBairro()"></a>
                <a class="glyphicon glyphicon-plus" data-ng-click="openBairro('lg')"></a>
                <select class="form-control" data-ng-model="candidato.endereco.bairro">
                    <option value="" data-ng-selected="candidato.id">
                        {{candidato.endereco.bairro.nome}}
                    </option>
                </select>
            </div>
        </div>
    </div>

</accordion-group>