<accordion-group is-open="panel.open4">

    <accordion-heading>Formação
        <i 	class="pull-right glyphicon"
              data-ng-class="{'glyphicon-chevron-down': panel.open4, 'glyphicon-chevron-right': !panel.open4}">
        </i>
    </accordion-heading>

    <div class="row row-offcanvas row-offcanvas-right">
        <div class="col-xs-12 col-sm-12">
            <ul data-ng-show="cursosDoCandidato.length<=0">
                <li >
                    <strong>Esse candidato não possui cursos</strong>
                    <a class="glyphicon glyphicon-plus" data-ng-click="openCursos()"></a>
                    <hr>
                </li>
            </ul>

            <ul>
                <li data-ng-repeat="cursoDoCandidato in cursosDoCandidato">
                    <strong>{{cursoDoCandidato.curso.nome}}</strong>({{cursoDoCandidato.curso.categoriaCurso.nome}},
                    <span class="label label-success" data-ng-show="cursoDoCandidato.situacaoDoCurso=='concluido'">concluido</span>
                    <span class="label label-danger" data-ng-show="cursoDoCandidato.situacaoDoCurso=='trancado'">trancado</span>
                    <span class="label label-warning" data-ng-show="cursoDoCandidato.situacaoDoCurso=='cursando'">cursando</span>)
                    <a class="glyphicon glyphicon-plus" data-ng-click="openCursos()"></a>
                    <ul>
                        <li data-ng-show="cursoDoCandidato.instituicaoDeEnsino.nome">
                            <strong>Instituição de Ensino:&nbsp</strong>{{cursoDoCandidato.instituicaoDeEnsino.nome}}
                        </li>
                        <li data-ng-show="cursoDoCandidato.situacaoDoCurso=='trancado'">
                            <strong>Concluídos {{cursoDoCandidato.periodosConcluidos}}</strong> períodos
                        </li>
                        <li data-ng-show="cursoDoCandidato.situacaoDoCurso=='cursando'">
                            <strong>Cursando o {{cursoDoCandidato.periodosConcluidos+1}}</strong>° período
                            <small data-ng-show="cursoDoCandidato.regime">(Regime {{cursoDoCandidato.regime}})</small>
                        </li>
                        <li>
                            <strong>Quantidade de períodos: {{cursoDoCandidato.quantidadeDePeriodos}}</strong>
                        </li>
                        <li data-ng-show="cursoDoCandidato.curso.descricao">
                            <strong>Descrição do curso: </strong>{{cursoDoCandidato.curso.descricao}}
                        </li>
                        <li data-ng-show="cursoDoCandidato.outrasInformacoes">
                            <strong>Informações complementares: </strong>{{cursoDoCandidato.outrasInformacoes}}
                        </li>
                    </ul>
                    <p>
                </li>
            </ul>
        </div>
    </div>

</accordion-group> 
			
		