<div class="btn-toolbar">
  <p class="pull-right">
    <button data-ng-click="empresa={}" class="btn btn-default btn-sm"
            type="button"
            title="Nova empresa (a)">
      <span class="glyphicon glyphicon-file"></span>
    </button>
    <button class="btn btn-default btn-sm"
            data-ng-click="panel.open1 = false; panel.open2 = false; panel.open3 = false"
            title="Clique para fechar todos os paineis">
        <span class="glyphicon glyphicon-minus"></span>
    </button>
    <button class="btn btn-default btn-sm"
            data-ng-click="isOpen = false; panel.open1 = true; panel.open2 = true; panel.open3 = true; panel.endereco = true;"
            title="Clique para abrir todos os paineis">
        <span class="glyphicon glyphicon-plus"></span>
    </button>
  </p>
</div>

