<div class="view" >
    <!-- data-ng-controller="EmpresaCtrl" -->
    <div class="page-header">
        <h1>Empresas</h1>
    </div>
    <div class="container-fluid">
        <p class="navbar-right fixed">
            <input type="checkbox" data-ng-model="isOpen" > Exibir somente um painel por vêz
            <button class="btn btn-primary btn-sm" type="button" onclick="window.print(); return false;" title="Clique para Imprimir ou pressione as teclas 'Ctrl + P'"><span class="glyphicon glyphicon-print"></span></button>
            <button class="btn btn-default btn-sm" data-ng-click="panel.open1 = false; panel.open2 = false; panel.open3 = false" title="Clique para fechar todos os paineis"><span class="glyphicon glyphicon-minus"></span></button>
            <button class="btn btn-default btn-sm" data-ng-click="isOpen = false; panel.open1 = true; panel.open2 = true; panel.open3 = true" title="Clique para abrir todos os paineis"><span class="glyphicon glyphicon-plus"></span></button>
        </p>
    </div>
    <accordion close-others="isOpen">
        <accordion-group is-open="panel.open1" >
            <accordion-heading>
                Dados da Empresa<i class="pull-right glyphicon" data-ng-class="{'glyphicon-chevron-down': panel.open1, 'glyphicon-chevron-right': !panel.open1}"></i>
            </accordion-heading>
            <div class="row row-offcanvas row-offcanvas-right">
                <div class="col-xs-12 col-sm-12">
                    <div data-ng-class="{'col-6 col-sm-8 col-lg-6': empresa.id, 'col-6 col-sm-6 col-lg-9': !empresa.id}">
                        <div class="form-group">
                            <label class="control-label">Nome *</label>
                            <div class="controls">
                                <input data-ng-model="empresa.nome" type="text" placeholder="Insira o nome da empresa ..." class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-sm-4 col-lg-3" >
                        <div class="form-group">
                            <label class="control-label">CNPJ</label>
                            <div class="controls">
                                <input data-ng-model="empresa.cnpj" type="text" placeholder="Insira o CNPJ da empresa ..." class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-sm-6 col-lg-3" data-ng-show="empresa.id">
                        <label class="control-label">Contato</label>
                        <a class="glyphicon glyphicon-refresh" data-ng-click="getContato()"></a>
                        <a class="glyphicon glyphicon-plus" data-ng-click="openContato()"></a>
                        <div class="form-group">
                            <div class="controls">
                                <select class="form-control" data-ng-model="qualqeurcois" data-ng-options="(c.contactValue + ' ' +'/' +' ' + c.observacao) for c in contatos">
                                    <option value="" selected>Visualizar contatos</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </accordion-group>
        <accordion-group is-open="panel.open3">
            <accordion-heading >
                Endereço <i class="pull-right glyphicon" data-ng-class="{'glyphicon-chevron-down': panel.open3, 'glyphicon-chevron-right': !panel.open3}"></i>
            </accordion-heading>
            <div class="row row-offcanvas row-offcanvas-right">
                <div class="col-xs-12 col-sm-12">
                    <div class="col-6 col-sm-6 col-lg-2">
                        <div class="form-group">
                            <label class="control-label">Rua</label>
                            <div class="controls">
                                <input type="text" data-ng-model="empresa.endereco.rua" placeholder="Insira o a rua da empresa ..." class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-sm-6 col-lg-1">
                        <div class="form-group">
                            <label class="control-label">Número</label>
                            <div class="controls">
                                <input type="text" data-ng-model="empresa.endereco.numero" placeholder="Insira o núemro da rua da empresa ..." class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-sm-6 col-lg-2">
                        <div class="form-group">
                            <label class="control-label">CEP</label>
                            <div class="controls">
                                <input type="text" data-ng-model="empresa.endereco.cep" placeholder="Insira o CEP da empresa ..." class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-sm-6 col-lg-2">
                        <div class="form-group">
                            <label class="control-label">Complemento</label>
                            <div class="controls">
                                <input type="text" data-ng-model="empresa.endereco.complemento" placeholder="Insira o complemento do endereço da empresa ..." class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-sm-12 col-lg-5" >
                        <!-- 								<label data-ng-repeat="choice in choices" for="{{choice}}"> -->
                        <!-- 							       {{choice}} -->
                        <!-- 							       <input type="radio" data-ng-model="address.selected" data-ng-value="choice" id="{{choice}}" name="selected"> -->
                        <!-- 							              &nbsp -->
                        <!-- 							     </label> -->

                        <label class="control-label">Bairros</label>
                        <a class="glyphicon glyphicon-refresh" data-ng-click="getBairro()"></a>
                        <a class="glyphicon glyphicon-plus" data-ng-click="openBairro('lg')"></a>
										<span class="navbar-right"> <!-- gambia -->
<!-- 										<a data-ng-repeat="choice in choices"> -->
<!-- 											<input  type="radio" data-ng-model="address.selected" data-ng-value="choice" id="{{choice}}" name="selected">&nbspaasdfasd -->
<!-- 											</a> -->
											<input type="radio" data-ng-model="address.selected" data-ng-value="choices[0]" name="selected">&nbspBairro
											<input type="radio" data-ng-model="address.selected" data-ng-value="choices[1]" name="selected">&nbspCidade
											<input type="radio" data-ng-model="address.selected" data-ng-value="choices[2]" name="selected">&nbspEstado
											<input type="radio" data-ng-model="address.selected" data-ng-value="choices[3]" name="selected">&nbspPais
									    </span>
                        <!-- 									    	<select data-ng-show="!view" class="form-control" data-ng-model="empresa.bairro" data-ng-options="(bairro.nome + ' ' +'/' +' ' + bairro.cidade.nome+ ' ' +'/' +' ' + bairro.cidade.estado.nome+ ' ' +'/' +' ' + bairro.cidade.estado.pais.nome) for bairro in bairros"> -->
                        <!-- 												<option value="" selected>Visualizar</option> -->
                        <!-- 											</select> -->
                        <select class="form-control" data-ng-model="empresa.endereco.bairro" data-ng-options="(bairro.nome + ' ' +'/' +' ' + bairro.cidade.nome+ ' ' +'/' +' ' + bairro.cidade.estado.nome+ ' ' +'/' +' ' + bairro.cidade.estado.pais.nome) for bairro in bairros">
                            <!-- 												<option value="" data-ng-selected="!empresa.id">Visualizar bairros</option> -->
                            <!-- 												<option value="" data-ng-selected="!empresa.id">Visualizar bairros</option> -->
                            <option value="" data-ng-selected="empresa.id">{{empresa.bairro.nome}} /{{empresa.bairro.cidade.nome}} / {{empresa.bairro.cidade.estado.nome}} / {{empresa.bairro.cidade.estado.pais.nome}}</option>
                            <!-- 												<option value="" data-ng-selected="empresa.id"><a ng-show="empresa.id">{{empresa.bairro.nome}} /{{empresa.bairro.cidade.nome}} / {{empresa.bairro.cidade.estado.nome}} / {{empresa.bairro.cidade.estado.pais.nome}}</a><a ng-hide="empresa.id">{{bairroSelecionado}}</a></option> -->
                        </select>
                        <!-- 									      	<select data-ng-show="view=='cidades'" class="form-control" data-ng-model="empresa.bairro" data-ng-options="(bairro.nome + ' ' +'/' +' ' + bairro.cidade.nome+ ' ' +'/' +' ' + bairro.cidade.estado.nome+ ' ' +'/' +' ' + bairro.cidade.estado.pais.nome) for bairro in bairros"> -->
                        <!-- 												<option value="" selected>{{empresa.bairro.cidade.nome}} / {{empresa.bairro.cidade.estado.nome}} / {{empresa.bairro.cidade.estado.pais.nome}}</option> -->
                        <!-- 											</select> -->
                        <!-- 											<select data-ng-show="view=='estados'" class="form-control" data-ng-model="empresa.bairro" data-ng-options="(bairro.nome + ' ' +'/' +' ' + bairro.cidade.nome+ ' ' +'/' +' ' + bairro.cidade.estado.nome+ ' ' +'/' +' ' + bairro.cidade.estado.pais.nome) for bairro in bairros"> -->
                        <!-- 												<option value="" selected>{{empresa.bairro.cidade.estado.nome}} / {{empresa.bairro.cidade.estado.pais.nome}}</option> -->
                        <!-- 											</select> -->
                        <!-- 											<select data-ng-show="view=='paises'" class="form-control" data-ng-model="empresa.bairro" data-ng-options="(bairro.nome + ' ' +'/' +' ' + bairro.cidade.nome+ ' ' +'/' +' ' + bairro.cidade.estado.nome+ ' ' +'/' +' ' + bairro.cidade.estado.pais.nome) for bairro in bairros"> -->
                        <!-- 												<option value="" selected>{{empresa.bairro.cidade.estado.pais.nome}}</option> -->
                        <!-- 											</select> -->
                    </div>
                </div>
            </div>
        </accordion-group>
    </accordion>

    <!-- Menu da consultar -->
    <div class="col-xs-12 col-sm-12">
        <div class="btn-group btn-group-justified">
            <div class="btn-group">
                <button type="button" class="btn btn-default" data-ng-click="getEmpresa(); msg.progress=true;"><span class="glyphicon glyphicon-search">&nbspConsultar</span></button>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-primary" data-ng-disabled="empresa.nome==null" data-ng-click="postEmpresa(); msg.progress=true;"><span class="glyphicon glyphicon-save">&nbspSalvar</span></button>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-default" data-ng-click="limpar()"><span class="glyphicon glyphicon-file">&nbspLimpar</span></button>
            </div>
        </div>

        <br/>
        <div data-ng-show="msg.msg" class="alert alert-{{msg.type}} alert-dismissable fixed">
            <button type="button" class="close"  data-ng-click="closeAlert()">&times;</button>
            <strong>{{msg.empresa.nome}}</strong> {{msg.msg}}
        </div>
        <div  data-ng-show="msg.progress" class="progress progress-striped active">
            <div class="progress-bar"  data-role="progressbar" data-aria-valuenow="45" data-aria-valuemin="0" data-aria-valuemax="100" style="width: 100%">
                <span class="sr-only">45% Complete</span>
            </div>
        </div>

        <table class="table table-hover">
            <tr>
                <th>Nome</th>
                <th>CNPJ</th>
                <th>Rua</th>
                <th>Número</th>
                <th>Bairro</th>
                <th></th>
            </tr>
            <tr data-ng-repeat="empresa in empresas">
                <td data-ng-click="isOpen = false; panel.open1 = true; panel.open2 = true; panel.open3 = true; editEmpresa(empresa)" >{{empresa.nome}}</td>
                <td data-ng-click="isOpen = false; panel.open1 = true; panel.open2 = true; panel.open3 = true; editEmpresa(empresa)">{{empresa.cnpj}}</td>
                <td data-ng-click="isOpen = false; panel.open1 = true; panel.open2 = true; panel.open3 = true; editEmpresa(empresa)">{{empresa.endereco.rua}}</td>
                <td data-ng-click="isOpen = false; panel.open1 = true; panel.open2 = true; panel.open3 = true; editEmpresa(empresa)">{{empresa.endereco.numero}}</td>
                <td data-ng-click="isOpen = false; panel.open1 = true; panel.open2 = true; panel.open3 = true; editEmpresa(empresa)" data-ng-show="empresa.endereco.bairro.id">{{empresa.endereco.bairro.nome}} / {{empresa.endereco.bairro.cidade.nome}} / {{empresa.endereco.bairro.cidade.estado.nome}} / {{empresa.endereco.bairro.cidade.estado.pais.nome}}</td>
                <td data-ng-click="isOpen = false; panel.open1 = true; panel.open2 = true; panel.open3 = true; editEmpresa(empresa)" data-ng-hide="empresa.endereco.bairro.id"></td>
                <!-- 		 <td data-ng-show="view==1||!view">{{empresa.bairro.nome}} / {{empresa.bairro.cidade.nome}} / {{empresa.bairro.cidade.estado.nome}} / {{empresa.bairro.cidade.estado.pais.nome}}</td> -->
                <!-- 				<td data-ng-show="view==2">{{empresa.bairro.cidade.nome}} / {{empresa.bairro.cidade.estado.nome}} / {{empresa.bairro.cidade.estado.pais.nome}}</td> -->
                <!-- 				<td data-ng-show="view==3">{{empresa.bairro.cidade.estado.nome}} / {{empresa.bairro.cidade.estado.pais.nome}}</td> -->
                <!-- 				<td data-ng-show="view==4">{{empresa.bairro.cidade.estado.pais.nome}}</td> -->
                <td>
                    <!-- 					<a data-ng-click="editCargo(cargo)">  -->
                    <span class="glyphicon glyphicon-print"></span>
                    <!-- 					</a>  -->
                    <!-- 					<a data-ng-click="deleteEmpresa(empresa.id);msg.progress=true;"> -->
                    <span data-ng-click="deleteEmpresa(empresa.id);msg.progress=true;" class="glyphicon glyphicon-trash"></span>
                    <!-- 					</a> -->
                </td>
            </tr>
        </table>
    </div>
</div>
