<script type="text/ng-template" id="necessidadeEspecialDoCandidato.html">
    				<div class="modal-header">
						<button type="button" class="close" data-ng-click="cancel()" data-dismiss="modal">&times;</button>
            			<h4 class="modal-title">Necessidades especiais do candidato</h4>
        			</div>
       				<div class="modal-body">
						<div class="col-12 col-sm-12 col-lg-12">
							<div class="form-group">
								<label class="control-label">Necessidade Especial</label>
									<a class="glyphicon glyphicon-refresh" data-ng-click="getNecessidadeEspecial()"></a>	
									<a class="glyphicon glyphicon-plus" data-ng-click="openNecessidadeEspecial()"></a>
								<select class="form-control" data-ng-model="newNecessidadeEspecial" data-ng-options="(novaNecessidadeEspecial.nome) for novaNecessidadeEspecial in todasNecessidadesEspeciais">
									<option value="" data-ng-show="false">Escolha uma necessidade especial ...</option>
    							</select>
							</div>
						</div>
					<div class="btn-group btn-group-justified">
						<div class="btn-group">
							<button type="button" class="btn btn-primary" data-ng-disabled="newNecessidadeEspecial==null" data-ng-click="postCandidato(newNecessidadeEspecial)">Adicionar e Salvar</button>
						</div>
					</div>
						<br/>

					<div ng-show="msg.msg" class="alert alert-{{msg.type}} alert-dismissable">
  						<button type="button" class="close"  ng-click="closeAlert()">&times;</button>
  						<strong>{{msg.candidato.nome}}</strong> {{msg.msg}}		
					</div>
					
					<div class="row">
						<div class="col-12 col-sm-12 col-lg-12">
							<table class="table table-hover">
								<tr>
									<td ><strong>Nome</strong></td>
									<td ><strong>Descrição</strong></td>
									<td>
									</td>
								</tr>
								<tr data-ng-repeat="necessidadeEspecial in candidato.necessidadesEspeciais">
									<td>{{necessidadeEspecial.nome}}</td>
									<td>{{necessidadeEspecial.descricao}}</td>
									<td>
										<a data-ng-click="deleteNecessidadeEspecialDoCandidato($index)"> 
										<span class="glyphicon glyphicon-trash"></span>
										</a>
									</td>
								</tr>
							</table>
						</div>
        			</div>
				</div>
    </script>
		
	<script type="text/ng-template" id="necessidadeEspecial.html">
    				<div class="modal-header">
						<button type="button" class="close" data-ng-click="close()" data-dismiss="modal">&times;</button>
            			<h4 class="modal-title">Necessidades Especiais</h4>
        			</div>
       			<div class="modal-body">
					<div class="row">
						<div class="col-6 col-sm-6 col-lg-6">
							<div class="form-group">
								<label class="control-label">Nome *</label>
								<div class="controls">
									<input type="text" class="form-control" placeholder="Insira o nome da necessidade especial ..." type="text" data-ng-model="necessidadeEspecial.nome">
								</div>
							</div>
						</div>
						<div class="col-6 col-sm-6 col-lg-6">
							<div class="form-group">
								<label class="control-label">Descrição</label>
								<div class="controls">
									<input type="text" class="form-control" placeholder="Insira a descrição da necessidade especial ..." type="text" data-ng-model="necessidadeEspecial.descricao">
								</div>
							</div>
						</div>

					<div class="col-12 col-sm-12 col-lg-12">
						<div class="btn-group btn-group-justified">
							<div class="btn-group">
								<button type="button" class="btn btn-default" data-ng-click="getNecessidadeEspecial()">Consultar</button>
							</div>
							<div class="btn-group">
								<button type="button" class="btn btn-primary" data-ng-disabled="!necessidadeEspecial.nome" data-ng-click="postNecessidadeEspecial()">Salvar</button>
							</div>
							<div class="btn-group">
								<button type="button" class="btn btn-default" data-ng-click="limpar()">Limpar</button>
							</div>
						</div>
						<br/>
					</div>
					
					<div class="col-12 col-sm-12 col-lg-12">
						<div ng-show="msg.msg" class="alert alert-{{msg.type}} alert-dismissable">
  							<button type="button" class="close"  ng-click="closeAlert()">&times;</button>
  							<strong>{{msg.necessidadeEspecial.nome}}</strong> {{msg.msg}}		
						</div>
					</div>
					
					
					<div class="col-12 col-sm-12 col-lg-12">
							<table class="table table-hover">
								<tr>
									<td>Nome</td>
									<td>Descrição</td>
									<td></td>
								</tr>
								<tr ng-click="editNecessidadeEspecial(necessidadeEspecial)" ng-repeat="necessidadeEspecial in necessidadesEspeciais">
									<td>{{necessidadeEspecial.nome}}</td>
									<td>{{necessidadeEspecial.descricao}}</td>
									<td>
										<a > 
											<span data-ng-click="deleteNecessidadeEspecial(necessidadeEspecial.id)" class="glyphicon glyphicon-trash"></span>
										</a>
									</td>
								</tr>
							</table>
        			</div>
				</div>
			</div>
    </script>
	
	<script type="text/ng-template" id="experiencia.html">
    				<div class="modal-header">
						<button type="button" class="close" data-ng-click="close()" data-dismiss="modal">&times;</button>
            			<h4 class="modal-title">Experiencias</h4>
        			</div>
				
       			<div class="modal-body">
					<div class="row">
						<div class="col-12 col-sm-12 col-lg-3">
							<div class="form-group">
								<label class="control-label">Cargos</label>
									<a class="glyphicon glyphicon-refresh" data-ng-click="getCargo()"></a>	
									<a class="glyphicon glyphicon-plus" data-ng-click="openCargo('lg')"></a>
								<select class="form-control" data-ng-model="experiencia.cargo" data-ng-options="(cargo.nome) for cargo in cargos">
									<option value="" data-ng-show="false">Escolha um cargo ...</option>
    							</select>
							</div>
						</div>
						<div class="col-12 col-sm-12 col-lg-3">
							<div class="form-group">
								<label class="control-label">Empresas</label>
									<a class="glyphicon glyphicon-refresh" data-ng-click="getEmpresa()"></a>	
									<a class="glyphicon glyphicon-plus" data-ng-click="close()" href="#/empresas"></a>
								<select class="form-control" data-ng-model="experiencia.empresa" data-ng-options="(empresa.nome) for empresa in empresas">
									<option value="" data-ng-show="false">Escolha uma empresa ...</option>
    							</select>
							</div>
						</div>
						<div class="col-12 col-sm-12 col-lg-3">
							<div class="form-group">
								<label class="control-label">Data de Início</label>
								<div class="controls">
									<input data-ng-model="experiencia.dataInicio" type="date" placeholder="Insira a data de início da experiência ..." class="form-control">
								</div>
							</div>
						</div>
						<div class="col-12 col-sm-12 col-lg-3">
							<div class="form-group">
								<label class="control-label">Data de Término</label>
								<div class="controls">
									<input data-ng-model="experiencia.dataTermino" type="date" placeholder="Insira a data de término da experiência ..." class="form-control">
								</div>
							</div>
						</div>
						<div class="col-12 col-sm-12 col-lg-12">
							<div class="form-group">
									<label class="control-label">Atividades Desenvolvidas</label>
								<div class="controls">
									<textarea data-ng-model="experiencia.atividades" placeholder="Insira as atividades desenvolvidas ..." class="form-control" rows="4"></textarea>
								</div>
							</div>
						</div>
						<div class="col-12 col-sm-12 col-lg-12">
							<div class="form-group">
									<label class="control-label">Observações</label>
								<div class="controls">
									<input data-ng-model="experiencia.observacoes" placeholder="Insira observações do candidato ..." class="form-control" >
								</div>
							</div>
						</div>
						
						
					<div class="col-12 col-sm-12 col-lg-12">
						<div class="btn-group btn-group-justified">
							<div class="btn-group">
								<button type="button" class="btn btn-default" data-ng-click="getExperiencia()">Consultar</button>
							</div>
							<div class="btn-group">
								<button type="button" class="btn btn-primary" data-ng-disabled="!experiencia.cargo.nome||!experiencia.dataInicio" data-ng-click="postExperiencia()">Salvar</button>
							</div>
							<div class="btn-group">
								<button type="button" class="btn btn-default" data-ng-click="limpar()">Limpar</button>
							</div>
						</div>
					</div>
							

					<div class="col-12 col-sm-12 col-lg-12">
						<br/>
						<div data-ng-show="msg.msg" class="alert alert-{{msg.type}} alert-dismissable">
  							<button type="button" class="close"  data-ng-click="closeAlert()">&times;</button>
  							<strong>{{msg.experiencia.cargo.nome}}</strong> {{msg.msg}}		
						</div>
					</div>
					
					
						<div class="col-12 col-sm-12 col-lg-12">
							<table class="table table-hover">
								<tr>
									<td><strong>Cargo</strong></td>
									<td><strong>Empresa</strong></td>
									<td><strong>Data de Início</strong></td>
									<td><strong>Data de Término</strong></td>
									<td></td>
								</tr>
								<tr data-ng-repeat="experiencia in experiencias">
									<td data-ng-click="editExperiencia(experiencia)">{{experiencia.cargo.nome}}</td>
									<td data-ng-click="editExperiencia(experiencia)">{{experiencia.empresa.nome}}</td>
									<td data-ng-click="editExperiencia(experiencia)">{{experiencia.dataInicio}}</td>
									<td data-ng-click="editExperiencia(experiencia)">{{experiencia.dataTermino}}</td>
									<td>
										<span data-ng-click="deleteExperiencia(experiencia.id)" class="glyphicon glyphicon-trash"></span>
									</td>
								</tr>
							</table>
						</div>
        			</div>
				</div>
    </script>
 
 	<script type="text/ng-template" id="cargo.html">
    				<div class="modal-header">
						<button type="button" class="close" data-ng-click="close()" data-dismiss="modal">&times;</button>
            			<h4 class="modal-title">Cargos</h4>
        			</div>
       				<div class="modal-body">
					<div class="row">
						<div class="col-6 col-sm-6 col-lg-6">
							<div class="form-group">
								<label class="control-label">Cargo *</label>
								<div class="controls">
									<input type="text" class="form-control" placeholder="Insira o nome do cargo ..." type="text" data-ng-model="cargo.nome">
								</div>
							</div>
						</div>
						<div class="col-6 col-sm-6 col-lg-6">
							<div class="form-group">
								<label class="control-label">Descrição</label>
								<div class="controls">
									<input type="text" class="form-control" placeholder="Insira a descrição do cargo ..." type="text" data-ng-model="cargo.descricao">
								</div>
							</div>
						</div>

					<div class="col-12 col-sm-12 col-lg-12">
						<div class="btn-group btn-group-justified">
							<div class="btn-group">
								<button type="button" class="btn btn-default" data-ng-click="getCargo()">Consultar</button>
							</div>
							<div class="btn-group">
								<button type="button" class="btn btn-primary" data-ng-disabled="!cargo.nome" data-ng-click="postCargo()">Salvar</button>
							</div>
							<div class="btn-group">
								<button type="button" class="btn btn-default" data-ng-click="limpar()">Limpar</button>
							</div>
						</div>
							<br/>					
					</div>
					
					<div class="col-12 col-sm-12 col-lg-12">
						<div ng-show="msg.msg" class="alert alert-{{msg.type}} alert-dismissable">
  							<button type="button" class="close"  ng-click="closeAlert()">&times;</button>
  							<strong>{{msg.cargo.nome}}</strong> {{msg.msg}}		
						</div>
					</div>
					
						<div class="col-12 col-sm-12 col-lg-12">
							<table class="table table-hover">
								<tr>
									<td>Cargo</td>
									<td>Descrição</td>
									<td></td>
								</tr>
								<tr ng-click="editCargo(cargo)" ng-repeat="cargo in cargos">
									<td>{{cargo.nome}}</td>
									<td>{{cargo.descricao}}</td>
									<td>
										<a > 
											<span data-ng-click="deleteCargo(cargo.id)" class="glyphicon glyphicon-trash"></span>
										</a>
									</td>
								</tr>
							</table>
						</div>
        			</div>
				</div>
    </script>
    
    <script type="text/ng-template" id="candidatoCurso.html">
    				<div class="modal-header">
						<button type="button" class="close" data-ng-click="close()" data-dismiss="modal">&times;</button>
            			<h4 class="modal-title">Cursos do Candidato</h4>
        			</div>
				
       			<div class="modal-body">
					<div class="row">
						<div class="col-12 col-sm-6 col-lg-6">
							<div class="form-group">
								<label class="control-label">Cursos</label>
									<a class="glyphicon glyphicon-refresh" data-ng-click="getCurso()"></a>	
									<a class="glyphicon glyphicon-plus" data-ng-click="openCurso('lg')"></a>
									<span class="navbar-right">
										<input type="radio" data-ng-model="cursoDoCandidato.situacaoDoCurso" data-ng-value="'concluido'" name="selected">&nbspConcluido
										<input type="radio" data-ng-model="cursoDoCandidato.situacaoDoCurso" data-ng-value="'cursando'" name="selected">&nbspCursando
										<input type="radio" data-ng-model="cursoDoCandidato.situacaoDoCurso" data-ng-value="'trancado'" name="selected">&nbspTrancado
									</span>	
								<select class="form-control" data-ng-model="cursoDoCandidato.curso" data-ng-options="(curso.nome+'/'+curso.categoria.nome) for curso in cursos">
									<option value="" data-ng-selected="cursoDoCandidato.id">*{{cursoDoCandidato.curso.nome}}</option>
    							</select>
							</div>
						</div>
						<div class="col-12 col-sm-6 col-lg-6">
							<div class="form-group">
								<label class="control-label">Instituição de Ensino</label>
									<a class="glyphicon glyphicon-refresh" data-ng-click="getEmpresa()"></a>	
									<a class="glyphicon glyphicon-plus" data-ng-click="close()" href="#/empresas"></a>
								<select class="form-control" data-ng-model="cursoDoCandidato.instituicaoDeEnsino" data-ng-options="(instituicaoDeEnsino.nome) for instituicaoDeEnsino in instituicoesDeEnsino">
									<option value="" data-ng-selected="cursoDoCandidato.id">*{{cursoDoCandidato.instituicaoDeEnsino.nome}}</option>
    							</select>
							</div>
						</div>
						<div class="col-12 col-sm-12 col-lg-6" >
							<div class="form-group">
								<label class="control-label">Períodos Concluidos</label>
									<input data-ng-show="cursoDoCandidato.situacaoDoCurso=='concluido'" data-ng-model="cursoDoCandidato.quantidadeDePeriodos" type="number" placeholder="Insira os períodos concluidos ..." class="form-control" disabled>
									<input data-ng-show="cursoDoCandidato.situacaoDoCurso!='concluido'" data-ng-model="cursoDoCandidato.periodosConcluidos" type="number" placeholder="Insira os períodos concluidos ..." class="form-control">
							</div>
						</div>
						<div class="col-12 col-sm-12 col-lg-4">
							<div class="form-group">
								<label class="control-label">Quantidade total de Períodos</label>
								<div class="controls">
									<input data-ng-model="cursoDoCandidato.quantidadeDePeriodos" type="number" placeholder="Insira a quantidade total de períodos ..." class="form-control">
								</div>
							</div>
						</div>
						<div class="col-12 col-sm-12 col-lg-2">
							<div class="form-group">
								<label class="control-label">Regime</label>
								<div class="controls">
									<select class="form-control" data-ng-model="cursoDoCandidato.regime" >
										<option data-ng-value="cursoDoCandidato.regime" data-ng-show="cursoDoCandidato.regime" selected>{{cursoDoCandidato.regime}}</option>										
										<option data-ng-value="Anual">Diário</option>
										<option data-ng-value="Anual">Semanal</option>
										<option data-ng-value="Anual">Mensal</option>
										<option data-ng-value="Anual">Bimestral</option>
										<option data-ng-value="Anual">Trimestral</option>
										<option data-ng-value="Anual">Semestral</option>
										<option data-ng-value="Anual">Anual</option>
										<option data-ng-value="Modular">Modular</option>
										<option data-ng-value="Modular">Periódico</option>
    								</select>
								</div>
							</div>
						</div>
						<div class="col-12 col-sm-12 col-lg-12">
							<div class="form-group">
									<label class="control-label">Informações Complementares</label>
								<div class="controls">
									<textarea data-ng-model="cursoDoCandidato.outrasInformacoes" placeholder="Insira informações complementares ..." class="form-control" rows="4"></textarea>
								</div>
							</div>
						</div>
						
						
					<div class="col-12 col-sm-12 col-lg-12">
						<div class="btn-group btn-group-justified">
							<div class="btn-group">
								<button type="button" class="btn btn-default" data-ng-click="getCursoDoCandidato()">Consultar</button>
							</div>
							<div class="btn-group">
								<button type="button" class="btn btn-primary" data-ng-disabled="!cursoDoCandidato.curso.nome||(!cursoDoCandidato.periodosConcluidos&&cursoDoCandidato.situacaoDoCurso!='concluido')||!cursoDoCandidato.situacaoDoCurso||!cursoDoCandidato.regime||!cursoDoCandidato.quantidadeDePeriodos" data-ng-click="postCursoDoCandidato()">Salvar</button>
							</div>
							<div class="btn-group">
								<button type="button" class="btn btn-default" data-ng-click="limpar()">Limpar</button>
							</div>
						</div>
					</div>
							

					<div class="col-12 col-sm-12 col-lg-12">
						<br/>
						<div data-ng-show="msg.msg" class="alert alert-{{msg.type}} alert-dismissable">
  							<button type="button" class="close"  data-ng-click="closeAlert()">&times;</button>
  							<strong>{{msg.candidatocursos.curso.nome}}</strong> {{msg.msg}}		
						</div>
					</div>
					
					
						<div class="col-12 col-sm-12 col-lg-12">
							<table class="table table-hover">
								<tr>
									<td><strong>Curso</strong></td>
									<td><strong>Instituição de ensino</strong></td>
									<td><strong>Status</strong></td>
									<td><strong>Períodos concluidos</strong></td>
									<td><strong>Regime</strong></td>
									<td></td>
								</tr>
								<tr data-ng-repeat="cursoDoCandidato in cursosDoCandidato">
									<td data-ng-click="editCursoDoCandidato(cursoDoCandidato)">{{cursoDoCandidato.curso.nome}}</td>
									<td data-ng-click="editCursoDoCandidato(cursoDoCandidato)">{{cursoDoCandidato.instituicaoDeEnsino.nome}}</td>
									<td data-ng-click="editCursoDoCandidato(cursoDoCandidato)"><span class="label label-success" data-ng-show="cursoDoCandidato.situacaoDoCurso=='concluido'">concluido</span><span class="label label-danger" data-ng-show="cursoDoCandidato.situacaoDoCurso=='trancado'">trancado</span><span class="label label-warning" data-ng-show="cursoDoCandidato.situacaoDoCurso=='cursando'">cursando</span></td>
									<td data-ng-click="editCursoDoCandidato(cursoDoCandidato)">{{cursoDoCandidato.periodosConcluidos}}/{{cursoDoCandidato.quantidadeDePeriodos}}</td>
									<td data-ng-click="editCursoDoCandidato(cursoDoCandidato)">{{cursoDoCandidato.regime}}</td>
									<td>
										<span data-ng-click="deleteCursoDoCandidato(cursoDoCandidato.id)" class="glyphicon glyphicon-trash"></span>
									</td>
								</tr>
							</table>
						</div>
        			</div>
				</div>
    </script>
    
    <script type="text/ng-template" id="categoriaCurso.html">
        	<div class="modal-header">
						<button type="button" class="close" data-ng-click="cancel()" data-dismiss="modal">&times;</button>
            			<h4 class="modal-title">Categorias de Cursos</h4>
        			</div>
       				<div class="modal-body">
				<div class="row">
						<div class="col-6 col-sm-6 col-lg-12">
							<div class="form-group">
								<label class="control-label">Categoria *</label>
								<div class="controls">
									<input type="text" class="form-control" placeholder="Insira a categoria ..." data-ng-model="categoria.nome">
								</div>
							</div>
						</div>
				<div class="col-12 col-sm-12 col-lg-12">
					<div class="btn-group btn-group-justified">
						<div class="btn-group">
							<button type="button" class="btn btn-default" data-ng-click="getCategoria()">Consultar</button>
						</div>
						<div class="btn-group">
							<button type="button" class="btn btn-primary" data-ng-disabled="!categoria.nome"data-ng-click="postCategoria()">Salvar</button>
						</div>
						<div class="btn-group">
							<button type="button" class="btn btn-default" data-ng-click="limpar()">Limpar</button>
						</div>
					</div>
					<br/>
				</div>
					<div class="col-12 col-sm-12 col-lg-12">
						<div ng-show="msg.msg" class="alert alert-{{msg.type}} alert-dismissable">
  							<button type="button" class="close"  data-ng-click="closeAlert()">&times;</button>
  							<strong>{{msg.categoria.nome}}</strong> {{msg.msg}}		
						</div>
					</div>
					
						<div class="col-12 col-sm-12 col-lg-12">
							<table class="table table-hover">
								<tr data-ng-repeat="categoria in categorias">
									<td  data-ng-click="editCategoria(categoria)">{{categoria.nome}}</td>
									<td>
										<a data-ng-click="deleteCategoria(categoria.id)">
										<span class="glyphicon glyphicon-trash"></span>
										</a>
									</td>
								</tr>
							</table>
						</div>
        			</div>
				</div>
    </script>

    <script type="text/ng-template" id="curso.html">
    				<div class="modal-header">
						<button type="button" class="close" data-ng-click="close()" data-dismiss="modal">&times;</button>
            			<h4 class="modal-title">Cursos</h4>
        			</div>
					<div class="row">
       				<div class="modal-body">
						<div class="col-6 col-sm-6 col-lg-6">
							<div class="form-group">
								<label class="control-label">Nome *</label>
								<div class="controls">
									<input type="text" class="form-control" placeholder="Insira o nome do curso ..." type="text" data-ng-model="curso.nome">
								</div>
							</div>
						</div>
						<div class="col-6 col-sm-6 col-lg-6">
							<div class="form-group">
								<label class="control-label">Categoria</label>
								<a class="glyphicon glyphicon-refresh" data-ng-click="getCategoria()"></a>	
								<a class="glyphicon glyphicon-plus" data-ng-click="openCategoria('sm')"></a>
								<select class="form-control" data-ng-model="curso.categoria" data-ng-options="(categoria.nome) for categoria in categorias">
									<option value="" data-ng-show="false">Escolha uma categoria ...</option>
    							</select>
							</div>
						</div>
						<div class="col-12 col-sm-12 col-lg-12">
							<div class="form-group">
								<label class="control-label">Descrição</label>
								<div class="controls">
									<textarea type="text" class="form-control" placeholder="Insira a descrição do curso ..." type="text" data-ng-model="curso.descricao" rows="5"></textarea>
								</div>
							</div>
						</div>		

					<div class="col-12 col-sm-12 col-lg-12">									
						<div class="btn-group btn-group-justified">
							<div class="btn-group">
								<button type="button" class="btn btn-default" data-ng-click="getCurso()">Consultar</button>
							</div>
							<div class="btn-group">
								<button type="button" class="btn btn-primary" data-ng-disabled="!curso.nome||!curso.categoria" data-ng-click="postCurso()">Salvar</button>
							</div>
							<div class="btn-group">
								<button type="button" class="btn btn-default" data-ng-click="limpar()">Limpar</button>
							</div>
						</div>
					</div>
					<div class="col-12 col-sm-12 col-lg-12">
						<br/>	
						<div ng-show="msg.msg" class="alert alert-{{msg.type}} alert-dismissable">
  							<button type="button" class="close"  ng-click="closeAlert()">&times;</button>
  							<strong>{{msg.curso.nome}}</strong> {{msg.msg}}		
						</div>
					
					</div>
						<div class="col-lg-12">
							<table class="table table-hover">
								<tr>
									<td><strong>Nome</strong></td>
									<td><strong>Categoria</strong></td>
									<td></td>
								</tr>
								<tr ng-repeat="curso in cursos">
									<td data-ng-click="editCurso(curso)">{{curso.nome}}</td>
									<td data-ng-click="editCurso(curso)">{{curso.categoria.nome}}</td>
									<td>
										<span data-ng-click="deleteCurso(curso.id)" class="glyphicon glyphicon-trash"></span>
									</td>
								</tr>
							</table>
						</div>
        			</div>
				</div>
    </script>
        
    <script type="text/ng-template" id="contato.html">
        			<div class="modal-header">
						<button type="button" class="close" ng-click="cancel()" data-dismiss="modal">&times;</button>
            			<h4 class="modal-title">Contatos</h4>
        			</div>
       				<div class="modal-body">
						<div class="col-6 col-sm-6 col-lg-6">
							<div class="form-group">
								<label class="control-label">Contato *</label>
								<div class="controls">
									<input type="text" class="form-control" placeholder="Insira o contato ..." type="text" ng-model="contato.contactValue">
								</div>
							</div>
						</div>
						<div class="col-6 col-sm-6 col-lg-6">
							<div class="form-group">
								<label class="control-label">Observação</label>
								<div class="controls">
									<input type="text" class="form-control" placeholder="Insira a observação ..." type="text" data-ng-model="contato.observacao">
								</div>
							</div>
						</div>

					<div class="btn-group btn-group-justified">
						<div class="btn-group">
							<button type="button" class="btn btn-default" data-ng-click="getContato()">Consultar</button>
						</div>
						<div class="btn-group">
							<button type="button" class="btn btn-primary" data-ng-disabled="(!contato.contactValue)" data-ng-click="postBairro()">Salvar</button>
						</div>
						<div class="btn-group">
							<button type="button" class="btn btn-default" data-ng-click="limpar()">Limpar</button>
						</div>
					</div>
					<br/>

					<div ng-show="msg.msg" class="alert alert-{{msg.type}} alert-dismissable">
  						<button type="button" class="close"  ng-click="closeAlert()">&times;</button>
  						<strong>{{msg.contato.contactValue}}</strong> {{msg.msg}}		
					</div>

					<div class="row">
						<div class="col-12 col-sm-12 col-lg-12">
							<table class="table table-hover">
								<tr>
									<td><strong>Contato</strong></td>
									<td><strong>Observação</strong></td>
									<td></td>
								</tr>
								<tr ng-click="editContato(contato)" ng-repeat="contato in contatos">
									<td>{{contato.contactValue}}</td>
									<td>{{contato.observacao}}</td>
									<td><a ng-click="deleteContato(contato.id)"> <span
											class="glyphicon glyphicon-trash"></span>
									</a></td>
								</tr>
							</table>
						</div>
        			</div>
				</div>
    </script>
    
    <script type="text/ng-template" id="bairro.html">
        	<div class="modal-header">
						<button type="button" class="close" ng-click="cancel()" data-dismiss="modal">&times;</button>
            			<h4 class="modal-title">Bairros</h4>
        			</div>
       				<div class="modal-body">
						<div class="row">
							<div class="col-6 col-sm-6 col-lg-6">
								<div class="form-group">
									<label class="control-label">Bairro *</label>
									<div class="controls">
										<input type="text" class="form-control" placeholder="Insira o bairro ..." type="text" ng-model="bairro.nome">
									</div>
								</div>
							</div>
						<div class="col-6 col-sm-6 col-lg-6">
							<div class="form-group">
								<label class="control-label">Cidade</label>
								<a class="glyphicon glyphicon-refresh" data-ng-click="getCidade()"></a>	
								<a class="glyphicon glyphicon-plus" data-ng-click="openCidade()"></a>
								<select class="form-control" ng-model="bairro.cidade" ng-options="(cidade.nome + ' ' +'/' +' ' + cidade.estado.nome+ ' ' +'/' +' ' + cidade.estado.pais.nome) for cidade in cidades">
									<option value="">Escolha uma cidade ...</option>
    							</select>
							</div>
						</div>
					<div class="col-12 col-sm-12 col-lg-12">
						<div class="btn-group btn-group-justified">
							<div class="btn-group">
								<button type="button" class="btn btn-default" data-ng-click="getBairro()">Consultar</button>
							</div>
							<div class="btn-group">
								<button type="button" class="btn btn-primary" data-ng-disabled="((!bairro.cidade.nome)||(!bairro.nome))" data-ng-click="postBairro()">Salvar</button>
							</div>
							<div class="btn-group">
								<button type="button" class="btn btn-default" data-ng-click="limpar()">Limpar</button>
							</div>
						</div>
						<br/>
					</div>
					<div class="col-12 col-sm-12 col-lg-12">
						<div ng-show="msg.msg" class="alert alert-{{msg.type}} alert-dismissable">
  							<button type="button" class="close"  ng-click="closeAlert()">&times;</button>
  							<strong>{{msg.bairro.nome}}</strong> {{msg.msg}}		
						</div>
					</div>

					
						<div class="col-12 col-sm-12 col-lg-12">
							<table class="table table-hover">
								<tr>

									<td><strong>Bairro</strong></td>
									<td><strong>Cidade</strong></td>
									<td><strong>Estado</strong></td>
									<td><strong>País</strong></td>
									<td></td>
								</tr>
								<tr ng-click="editBairro(bairro)" ng-repeat="bairro in bairros">
									<td>{{bairro.nome}}</td>
									<td>{{bairro.cidade.nome}}</td>
									<td>{{bairro.cidade.estado.nome}}</td>
									<td>{{bairro.cidade.estado.pais.nome}}</td>
									<td><a ng-click="deleteBairro(bairro.id)"> <span
											class="glyphicon glyphicon-trash"></span>
									</a></td>
								</tr>
							</table>
						</div>
        			</div>
				</div>
    </script>
    
    <script type="text/ng-template" id="cidade.html">
			<div class="modal-header">
						<button type="button" class="close" ng-click="cancel()" data-dismiss="modal">&times;</button>
            			<h4 class="modal-title">Cidades</h4>
        			</div>
       				<div class="modal-body">
						<div class="row">
							<div class="col-6 col-sm-12 col-lg-6">
								<div class="form-group">
									<label class="control-label">Cidade *</label>
									<div class="controls">
										<input type="text" class="form-control" placeholder="Insira a cidade ..." type="text" ng-model="cidade.nome">
									</div>
								</div>
							</div>
							<div class="col-6 col-sm-12 col-lg-6">
								<div class="form-group">
									<label class="control-label">Estado</label>
									<a class="glyphicon glyphicon-refresh" data-ng-click="getEstado()"></a>	
									<a class="glyphicon glyphicon-plus" data-ng-click="openEstado()"></a>
									<select class="form-control" ng-model="cidade.estado" ng-options="(estado.nome + ' ' +'/' +' ' + estado.pais.nome) for estado in estados">
										<option value="" ng-show="false">Escolha um estado ...</option>
    								</select>
								</div>
							</div>
					<div class="col-12 col-sm-12 col-lg-12">
						<div class="btn-group btn-group-justified">
							<div class="btn-group">
								<button type="button" class="btn btn-default" data-ng-click="getCidade()">Consultar</button>
							</div>
							<div class="btn-group">
								<button type="button" class="btn btn-primary" data-ng-disabled="((!cidade.estado.nome)||(!cidade.nome))" data-ng-click="postCidade()">Salvar</button>
							</div>
							<div class="btn-group">
								<button type="button" class="btn btn-default" data-ng-click="limpar()">Limpar</button>
							</div>
						</div>
							<br/>
					</div>
					<div class="col-12 col-sm-12 col-lg-12">
						<div ng-show="msg.msg" class="alert alert-{{msg.type}} alert-dismissable">
  							<button type="button" class="close"  ng-click="closeAlert()">&times;</button>
  							<strong>{{msg.cidade.nome}}</strong> {{msg.msg}}		
						</div>
					</div>

					
						<div class="col-12 col-sm-12 col-lg-12">
							<table class="table table-hover">
								<tr>
									<td><strong>Cidade</strong></td>
									<td><strong>Estado</strong></td>
									<td><strong>País</strong></td>
									<td></td>
								</tr>
								<tr ng-click="editCidade(cidade)" ng-repeat="cidade in cidades">
									<td>{{cidade.nome}}</td>
									<td>{{cidade.estado.nome}}</td>
									<td>{{cidade.estado.pais.nome}}</td>
									<td>
										<a ng-click="deleteCidade(cidade.id)"> <span
											class="glyphicon glyphicon-trash"></span>
									</a></td>
								</tr>
							</table>
						</div>
        			</div>
				</div>
    </script>
    
    <script type="text/ng-template" id="estado.html">
			<div class="modal-header">
						<button type="button" class="close" ng-click="cancel()" data-dismiss="modal">&times;</button>
            			<h4 class="modal-title">Estados</h4>
        			</div>
       				<div class="modal-body">
					<div class="row">
						<div class="col-6 col-sm-6 col-lg-6">
							<div class="form-group">
								<label class="control-label">Estado *</label>
								<div class="controls">
									<input type="text" class="form-control" placeholder="Insira o estado ..." type="text" ng-model="estado.nome">
								</div>
							</div>
						</div>
						<div class="col-6 col-sm-6 col-lg-6">
							<div class="form-group">
								<label class="control-label">País</label>
								<a class="glyphicon glyphicon-refresh" data-ng-click="getPais()"></a>								
								<a class="glyphicon glyphicon-plus" data-ng-click="openPais('sm')"></a>
								<select class="form-control" ng-model="estado.pais" ng-options="pais.nome for pais in paises">
									<option value="" ng-show="false">Escolha um país ...</option>
    							</select>
							</div>
						</div>
					<div class="col-12 col-sm-12 col-lg-12">
						<div class="btn-group btn-group-justified">
							<div class="btn-group">
								<button type="button" class="btn btn-default" data-ng-click="getEstado()">Consultar</button>
							</div>
							<div class="btn-group">
								<button type="button" class="btn btn-primary" data-ng-disabled="((!estado.pais.nome)||(!estado.nome))" data-ng-click="postEstado()">Salvar</button>
							</div>
							<div class="btn-group">
								<button type="button" class="btn btn-default" data-ng-click="limpar()">Limpar</button>
							</div>
						</div>
							<br/>					
					</div>
					
					<div class="col-12 col-sm-12 col-lg-12">
						<div ng-show="msg.msg" class="alert alert-{{msg.type}} alert-dismissable">
  							<button type="button" class="close"  ng-click="closeAlert()">&times;</button>
  							<strong>{{msg.estado.nome}}</strong> {{msg.msg}}		
						</div>
					</div>

					
						<div class="col-12 col-sm-12 col-lg-12">
							<table class="table table-hover">
								<tr>
									<td><strong>Estado</strong></td>
									<td><strong>País</strong></td>
									<td></td>
								</tr>
								<tr ng-click="editEstado(estado)" ng-repeat="estado in estados">
									<td>{{estado.nome}}</td>
									<td>{{estado.pais.nome}}</td>
									<td>
										<a ng-click="deleteEstado(estado.id)"> 
										<span class="glyphicon glyphicon-trash"></span>
										</a>
									</td>
								</tr>
							</table>
						</div>
        			</div>
				</div>
	</script>
	
    <script type="text/ng-template" id="pais.html">
        	<div class="modal-header">
						<button type="button" class="close" data-ng-click="cancel()" data-dismiss="modal">&times;</button>
            			<h4 class="modal-title">Paises</h4>
        			</div>
       				<div class="modal-body">
					<div class="row">
						<div class="col-6 col-sm-6 col-lg-12">
							<div class="form-group">
								<label class="control-label">País *</label>
								<div class="controls">
									<input type="text" class="form-control" placeholder="Insira o país ..." data-ng-model="pais.nome">
								</div>
							</div>
						</div>
					<div class="col-12 col-sm-12 col-lg-12">
						<div class="btn-group btn-group-justified">
							<div class="btn-group">
								<button type="button" class="btn btn-default" data-ng-click="getPais()">Consultar</button>
							</div>
							<div class="btn-group">
								<button type="button" class="btn btn-primary" data-ng-disabled="!pais.nome"data-ng-click="postPais()">Salvar</button>
							</div>
							<div class="btn-group">
								<button type="button" class="btn btn-default" data-ng-click="limpar()">Limpar</button>
							</div>
						</div>
							<br/>
					</div>
					<div class="col-12 col-sm-12 col-lg-12">
						<div ng-show="msg.msg" class="alert alert-{{msg.type}} alert-dismissable">
  							<button type="button" class="close"  ng-click="closeAlert()">&times;</button>
  							<strong>{{msg.pais.nome}}</strong> {{msg.msg}}		
						</div>
					</div>
						<div class="col-12 col-sm-12 col-lg-12">
							<table class="table table-hover">
								<tr data-ng-repeat="pais in paises">
									<td data-ng-click="editPais(pais)">{{pais.nome}}</td>
									<td>
										<a data-ng-click="deletePais(pais.id)"> 
										<span class="glyphicon glyphicon-trash"></span>
										</a>
									</td>
								</tr>
							</table>
						</div>
        			</div>
				</div>
    </script>